@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800&display=swap');

body, html{
	font-family: raleway, sans-serif;
	color: #544E4E;
	background-color: #F1E6D5;
	padding: 0;
	margin: 0;
}

header{
	margin-top: 30px;

}

nav{
	margin: 30px;
	padding-bottom: 50px;
	
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

li{
	float: left;
	display: inline;
	padding: 10px;
	font-family: raleway, sans-serif;
	font-weight: 700;

}

a {
   text-decoration: none;
   color: #544E4E;

}



.right{
	float: right;
	padding-top: 30px;
}


h1{
	font-size: 50px;
	font-weight: 500;

}


.cover {
  	object-fit: cover;
  	width: 100%;
  	height: 400px;
}

.book{
	margin: 80px 100px;

}
.book h3{
	font-size: 25px;
	font-weight: 400;
	padding-bottom: 20px;
}

.about{
	text-align: justify;
	padding: 100px;
	line-height: 30px;
	letter-spacing: 0.5px;
}

a.cta.alt,
button.cta.alt{

}

a.cta,
button.cta.alt{

}

.services{
	margin-left: 80px;
	margin-top: 80px;

}

.services h1{
	font-size: 35px;
	font-weight: bolder;
	padding-top: ;
}

.services-pic{
	position: relative;
	

}

.color{
	
	width: 500px;
  	padding-top: 45px;
  	padding-left: 30px;
  	border: 1px solid #BFBFBF;
  	background-color: white;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}

.other{

	width: 500px;
  	padding-top: 47px;
  	padding-bottom: 30px;
  	padding-left: 30px;
  	border: 1px solid #BFBFBF;
  	background-color: white;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}
}